.hamburger {
  @apply relative w-[1.875rem] h-[1.875rem] cursor-pointer m-4 pt-2;

  & span,
  & span::before,
  & span::after {
    @apply absolute w-full h-[0.3125rem] bg-[#2d2d2d];
  }
}

.hamburger span::before,
.hamburger span::after {
  content: "";
}

.hamburger span::before {
  top: -0.9375rem;
}

.hamburger span::after {
  top: 0.9375rem;
}
