.hamburger {
  @apply flex relative w-[1.875rem] h-[1.875rem] cursor-pointer;

  & span,
  & span::before,
  & span::after {
    @apply block absolute w-full h-[0.3125rem] bg-[#2d2d2d];
  }
}

.hamburger span {
  @apply top-1/2 -translate-y-1/2;
}

.hamburger span::before,
.hamburger span::after {
  content: "";
}

.hamburger span::before {
  top: -0.9375rem;
}

.hamburger span::after {
  top: 0.9375rem;
}

@media (min-width: 768px) {
  .hamburger {
    @apply hidden;
  }
}

@media (max-width: 767px) {
  .hamburger {
    @apply flex absolute top-[2.1875rem] right-[2.1875rem] cursor-pointer;
  }
}
