.hamburger {
  @apply relative w-[1.875rem] h-[1.875rem] cursor-pointer m-4 pt-3.5;

  & span,
  & span::before,
  & span::after {
    @apply absolute w-full h-[0.2125rem] bg-[#2d2d2d];
  }
}

.hamburger span::before,
.hamburger span::after {
  content: '';
}

.hamburger span::before {
  top: -0.5rem;
}

.hamburger span::after {
  top: 0.5rem;
}
