/* 메인메이지 - 메인 Swiper CSS */

#mainSwiper {
  width: 100%;
  height: 100vh;
  z-index: 0;
}

#mainSwiper .swiper-pagination-bullet {
  width: 1.75rem;
  height: 0.5rem;
  border-radius: 10px;
  background-color: #fff;
}
#mainSwiper .swiper-pagination-bullet-active {
  width: 3rem;
  height: 0.5rem;
  background-color: #fff;
}
#mainSwiper .swiper-pagination-bullet + #mainSwiper .swiper-pagination-bullet-active {
  width: 3rem;
  height: 0.5rem;
}

/* 메인페이지 - 메뉴 Swiper CSS */

#menuSwiper {
  z-index: 0;
  max-width: 56.25rem;
}

#menuSwiper .swiper-slide {
  border-radius: 10px;
  border: 1px solid #dddddd;
}

#menuSwiper .swiper-slide-next {
  margin-top: 19%;
}

#menuSwiper .swiper-slide img {
  border-radius: 10px;
}

#menuSwiper div.swiper-button-prev,
#menuSwiper div.swiper-button-next {
  --swiper-navigation-size: 1.6rem;
  top: 0;
  right: 0;
  width: fit-content;
  height: 100px;
  margin-top: calc(5% - (var(--swiper-navigation-size) / 2));
}
#menuSwiper div.swiper-button-prev {
  margin-left: calc(55% - (var(--swiper-navigation-size) / 2));
}
#menuSwiper div.swiper-button-next {
  margin-right: calc(35% - (var(--swiper-navigation-size) / 2));
}

#menuSwiper div.swiper-button-prev::after,
#menuSwiper div.swiper-button-next::after {
  display: block;
  font-size: 4rem;
  color: #dddddd;
}

#menuSwiper .menutitleSection {
  display: none;
  border-radius: 0 0 10px 10px;
  width: 100%;
  padding: 8%;
  background-color: #f5f5f5;
}

#menuSwiper .swiper-slide-active .menutitleSection {
  display: block;
}

/* 메인페이지 - 쇼핑몰 Swiper CSS */

#shopingMallSwiper {
  z-index: 0;
  overflow: visible;
  max-width: 700px;
  margin-left: 0;
}

#shopingMallSwiper .swiper-pagination {
  bottom: -30px;
}

#shopingMallSwiper .swiper-pagination-bullet {
  /* width: 1.5rem; */
  border-radius: 10px;
  background-color: #fff;
  margin-left: 1%;
}
#shopingMallSwiper .swiper-pagination-bullet-active {
  width: 2rem;
  height: 0.5rem;
}
#shopingMallSwiper .swiper-pagination-bullet + #shopingMallSwiper .swiper-pagination-bullet-active {
  width: 3rem;
  height: 0.5rem;
}

@media screen and (max-width: 727px) {
  /* 모바일: 메인 - 메뉴 Swiper CSS */

  #menuSwiper .swiper-slide-next {
    margin-top: 0;
  }

  #menuSwiper img {
    border-radius: 10px 10px 0px 0;
  }

  #menuSwiper div.swiper-button-prev,
  #menuSwiper div.swiper-button-next {
    display: none;
  }

  #menuSwiper .menutitleSection {
    display: block;
  }

  /* 모바일: 메인- 쇼핑몰 Swiper CSS */

  #shopingMallSwiper .swiper-pagination {
    display: none;
  }
}
