/* 메인메이지 - 메인 Swiper CSS */

#mainSwiper .swiper-pagination-bullet {
  width: 1.75rem;
  height: 0.5rem;
  border-radius: 10px;
  background-color: #fff;
}
#mainSwiper .swiper-pagination-bullet-active {
  width: 3rem;
  height: 0.5rem;
}
#mainSwiper .swiper-pagination-bullet + #mainSwiper .swiper-pagination-bullet-active {
  width: 3rem;
  height: 0.5rem;
}

/* 메인페이지 - 메뉴 Swiper CSS */

#menuSwiper {
  --swiper-navigation-size: 1.6rem;
  max-width: 56.25rem;
  overflow: visible;
}

#menuSwiper .swiper-slide {
  border: 1px solid #dddddd;
  border-radius: 10px;
}

#menuSwiper .swiper-slide-next {
  margin-top: 19%;
}

#menuSwiper .swiper-slide-next img {
  border-radius: 10px;
}

#menuSwiper .swiper-slide-active img {
  border-radius: 10px 10px 0px 0;
}

div.swiper-button-prev,
div.swiper-button-next {
  /* border: 1px solid; */
  top: 0;
  right: 0;
  width: fit-content;
  height: 100px;
  margin-top: calc(5% - (var(--swiper-navigation-size) / 2));
}
div.swiper-button-prev {
  margin-left: calc(55% - (var(--swiper-navigation-size) / 2));
}
div.swiper-button-next {
  margin-right: calc(35% - (var(--swiper-navigation-size) / 2));
}
div.swiper-button-prev::after,
div.swiper-button-next::after {
  font-size: 4rem;
  color: #dddddd;
}
div.swiper-button-prev:hover,
div.swiper-button-next:hover {
  color: #161616 !important;
}

/* 메인페이지 - 메뉴 타이틀 */

#menuSwiper .menutitleSection {
  display: none;
  border-radius: 0 0 10px 10px;
  width: 100%;
  padding: 8%;
  background-color: #f5f5f5;
}

#menuSwiper .swiper-slide-active .menutitleSection {
  display: block;
}
