@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
/* 
@tailwind base;
@tailwind components;
@tailwind utilities; */

@layer base {
  html {
    font-family: Pretendard;
    font-size: 1rem;

    @screen tablet {
      font-size: 0.875rem;
    }

    @screen mobile {
      font-size: 0.75rem;
    }
  }
}
