@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
/* 
@tailwind base;
@tailwind components;
@tailwind utilities; */

@font-face {
  font-family: Pretendard;
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff") format("woff");
}

@layer base {
  html {
    font-family: Pretendard;
    font-size: 1rem;
    font-display: swap;
    @screen tablet {
      font-size: 0.875rem;
    }

    @screen mobile {
      font-size: 0.75rem;
    }
  }
}

@layer components {
  /* 메인 공통  */
  .textEllipsis {
    @apply overflow-hidden text-ellipsis break-keep line-clamp-2 whitespace-nowrap;
  }

  .mobileButton {
    @apply text-jj_16 h-[3rem];
  }

  /* 메인페이지 */

  .fullpage {
    height: 100vh;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    scroll-behavior: smooth;
  }

  .fullpage::-webkit-scrollbar {
    display: none;
  }

  .section {
    scroll-snap-align: start;
  }

  .primaryHighlight {
    background: linear-gradient(to top, #dbc8ab 50%, transparent 50%);
  }

  .secondaryHighlight {
    background: linear-gradient(to top, #f8f2e7 50%, transparent 50%);
  }

  /* 메인-mainStor css */

  .storeImage {
    background-image: url("../assets/images/main/cafe-jj-coffee.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    object-fit: contain;
    @apply mobile:opacity-10;
  }

  /* 이벤트 페이지 tab css */

  .select {
    @apply bg-[#ffffff] border-t border-r border-l;
  }
  .default {
    @apply bg-[#F4F6F8] border;
  }
}

/* 카카오 맵 인포윈도우 */
.infoWindow {
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  & h4 {
    padding: 0.5rem;
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
    white-space: nowrap;
  }
  & p {
    padding: 0.5rem;
    width: max-content;
    font-size: 0.875rem;
    font-weight: 400;
    margin-bottom: 0.5rem;
  }
  & .infoWindow__address {
    font-size: 0.75rem;
    font-weight: 200;
    color: #999999;
  }
  & .infoWindow__phone {
    font-size: 0.75rem;
    font-weight: 200;
    color: #999999;
  }

  & button {
    width: 100%;
    background: #3e3526;
    color: #f8f2e7;
  }

  & button:hover {
    background: #dbc8ab;
  }
}
